
@{
    ViewData["Title"] = "Design";
}

<h2>Заказ изделия</h2>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">

            <!-- Search Widget -->
            @*<div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>*@

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Основное</h5>
                <div class="card-body">
                    <div class="row">

                        <div class="col col-md-auto my-1">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Parameter 1</option>
                                <option>Parameter 2</option>
                                <option>Parameter 3</option>
                                <option>Parameter 4</option>
                                <option>Parameter 5</option>
                            </select>
                        </div>

                        <div class="col col-md-auto my-1">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Parameter 1</option>
                                <option>Parameter 2</option>
                                <option>Parameter 3</option>
                                <option>Parameter 4</option>
                                <option>Parameter 5</option>
                            </select>
                        </div>

                        <div class="col col-md-auto my-1">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Parameter 1</option>
                                <option>Parameter 2</option>
                                <option>Parameter 3</option>
                                <option>Parameter 4</option>
                                <option>Parameter 5</option>
                            </select>
                        </div>

                        <div class="col col-md-auto my-1">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Parameter 1</option>
                                <option>Parameter 2</option>
                                <option>Parameter 3</option>
                                <option>Parameter 4</option>
                                <option>Parameter 5</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Размеры</h5>
                <div class="card-body">

                    <div class="col-auto my-1">
                        <input type="text" class="form-control" id="validationCustom01" placeholder="First name" required>
                    </div>

                    <div class="col-auto my-1">
                        <input type="text" class="form-control" id="validationCustom01" placeholder="First name" required>
                    </div>

                    <div class="col-auto my-1">
                        <input type="text" class="form-control" id="validationCustom01" placeholder="First name" required>
                    </div>

                    <label class="align-content-end ml-auto">ед. измерения мм.</label>

                </div>
            </div>

        </div>

        <!-- Blog Entries Column -->
        <div class="col-md-9">
            <br>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="https://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">В корзину &rarr;</a>
                    <a href="/Home/Order" class="btn btn-primary" role="button">Заказать &rarr;</a>
                </div>

                <div class="card-footer text-muted">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileLang" lang="ru">
                        <label class="custom-file-label" for="customFileLang">Прикрепить образец</label>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
